﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@model OrdersViewModel

@{
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
}

@if (!Equals(Model, null))
{
    <div class="main-wrapper sp-accounts">
        <div class="container">
            <div class="checkout-reciept margin-top-bottom plp-category-title">
                <h1 data-test-selector="lblThanksMsg">Thank You For Your Purchase</h1>
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 nopadding">
                    <div class="col-sm-8 col-md-6 col-lg-12 col-xs-12 nopadding margin-top">
                        <p data-test-selector="lblOrderNoMsg">
                            Your order number is <label>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a data-test-selector="lblOrderNo" href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId" class="sp-num">#@Model.OrderNumber</a>
                                }
                                else
                                {
                                    <span data-test-selector="lblOrderNo" class="sp-num">#@Model.OrderNumber</span>
                                }
                            </label>
                        </p>

                        <p data-test-selector="lblEmailReceiptMsg">
                            An email receipt has been sent to <label data-test-selector="lblReceiptEmail">@Model.EmailAddress</label>, please keep this email for your records.
                        </p>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-12 col-xs-12 nopadding mobile-display-block margin-top">
                        <div><a href="/" class="btn-text btn-bg-primary btn-width-full pull-right margin-bottom" data-test-selector="linkOrderReceiptContinue" title="Continue shopping">Continue shopping</a></div>
                        <div><a href="/CaseRequest/customerfeedback" class="btn-text btn-bg-border btn-width-full width-auto-btn pull-right" title="@WebStore_Resources.TextCustomerFeedback">@WebStore_Resources.TextCustomerFeedback</a></div>
                    </div>
                </div>
            </div>
            @*Nivi Not using Below Functionality*@
            <div id="layout-account-receipt" class="sp-checkout-receipt hidden">
                <div>
                    <div class="mobile-row user-account">
                        <div class="col-xs-12 col-sm-12 nopadding">
                            <h2 data-test-selector="hdgOrderReceiptPageTitle">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title on @Model.OrderDate.ToDateTimeFormat()</h2>
                        </div>

                        <div class="col-xs-12 account-dashboard nopadding">
                            <div class="col-xs-12 order-receipt nopadding">
                                <div class="col-xs-12 nopadding order-receipt-address">
                                    <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                        <h4 class="section-header-color">@WebStore_Resources.TextDetails: <span class="pull-right hidden-lg hidden-md visible-xs"><a class="receipt-print" href="#" onclick="window.print();return false;" title="@WebStore_Resources.TextPrint"><span>@WebStore_Resources.TextPrint</span></a></span></h4>
                                        <div><p><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</p></div>
                                        <div><p><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber </p></div>
                                        <div><p><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName </p></div>
                                        @if (HelperUtility.IsNotNull(Model.GiftCardNumber))
                                        {
                                            <div><strong>@WebStore_Resources.LinkTextVouchers:</strong> @Html.RenderBlock(Model.GiftCardNumber?.Replace(ZnodeConstant.CouponCodeSeparator, ", "))</div>
                                        }
                                        @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                        {<div><p><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</p></div>}
                                        <div><p><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</p></div>
                                        @if (HelperUtility.IsNotNull(Model.CouponCode))
                                        {
                                            <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                        }
                                        @if (HelperUtility.IsNotNull(Model?.AccountNumber))
                                        {
                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelAccountNumber:</strong> @Html.RenderBlock(Convert.ToString(Model?.AccountNumber))</div>
                                        }
                                        @if (HelperUtility.IsNotNull(Model?.ShippingMethod))
                                        {
                                            <div class="p-0 pb-3"><strong>@WebStore_Resources.LabelShippingMethod:</strong> @Html.RenderBlock(Convert.ToString(Model?.ShippingMethod))</div>
                                        }
                                        <div class="p-0 pb-3 hidden">
                                            <strong>@WebStore_Resources.LabelJobName:</strong> @Html.RenderBlock(Model.JobName)
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 mobil-nopadding receipt-info grid-m-4">
                                        <h4 class="section-header-color">@WebStore_Resources.TitleBillingTo</h4>
                                        <p>@Html.RenderBlock(Model.BillingAddressHtml)</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                        <h4>@WebStore_Resources.TitleShippingTo <span class="pull-right hidden-xs"><a class="receipt-print" href="#" onclick="window.print();return false;" title="@WebStore_Resources.TextPrint"><span>@WebStore_Resources.TextPrint</span></a></span></h4>
                                        @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                        {
                                            if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                            {
                                                if (!Equals(shippingId, items.OmsOrderShipmentId))
                                                {
                                                    <p>@Html.RenderBlock(items.ShippingAddressHtml)</p>
                                                    shippingId = items.OmsOrderShipmentId;
                                                    count++;
                                                }
                                            }
                                        }
                                        <div class="col-xs-12 nopadding hidden">
                                            <div class="p-0 margin-bottom-10"><strong>@WebStore_Resources.InHandsDate:</strong> @(Model.InHandDate.HasValue ? Model.InHandDate.Value.ToDateTimeFormat() : string.Empty)</div>
                                            <div class="p-0 margin-bottom-10"><strong>@WebStore_Resources.LabelShippingConstraintsCode:</strong> @(string.IsNullOrWhiteSpace(Model.ShippingConstraintCode) ? string.Empty : HelperUtility.GetEnumDescriptionValue((ShippingConstraintsEnum)Enum.Parse(typeof(ShippingConstraintsEnum), Model.ShippingConstraintCode)))</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                    <div class="receipt-info">
                                        <h4 class="section-header-color">@WebStore_Resources.HeadingOrderSummary</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-tr">

                                            @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                            {
                                                if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                                {

                                                    bool headerFlag = false;
                                                    if (!Equals(shippingId, items.OmsOrderShipmentId))
                                                    {
                                                        <tr class="shipment-address">
                                                            <td colspan="9">
                                                                <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                                    <div class="user-receipt">
                                                                        <h3 class="padding-left">@WebStore_Resources.TitleShippingTo</h3>
                                                                        <div class="col-md-6 text-break">
                                                                            @Html.RenderBlock(items.ShippingAddressHtml)
                                                                        </div>
                                                                        <div class="col-md-6 nopadding text-break">
                                                                            <div class="p-0 margin-bottom-10"><strong>@WebStore_Resources.InHandsDate:</strong> @(Model.InHandDate.HasValue ? Model.InHandDate.Value.ToDateTimeFormat() : string.Empty)</div>
                                                                            <div class="p-0 margin-bottom-10"><strong>@WebStore_Resources.LabelShippingConstraintsCode:</strong> @(string.IsNullOrWhiteSpace(Model.ShippingConstraintCode) ? string.Empty : HelperUtility.GetEnumDescriptionValue((ShippingConstraintsEnum)Enum.Parse(typeof(ShippingConstraintsEnum), Model.ShippingConstraintCode)))</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        shippingId = items.OmsOrderShipmentId;
                                                        count++;
                                                        headerFlag = true;
                                                    }
                                                    if (headerFlag)
                                                    {
                                                        <tr class="table-heading">
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                            <th class="table-td receipt-column-total text-right">@WebStore_Resources.ColumnTitleTotal</th>
                                                            <th class="table-td receipt-column-action"></th>
                                                        </tr>
                                                    }
                                                    <tr class="receipt-item table-tr">
                                                        <td class="table-td receipt-column-item">
                                                            @Html.RenderBlock(items.ProductName)
                                                            @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                            {
                                                                List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                                <h5 style="color:red">Product Keys</h5>
                                                                foreach (string item in keys)
                                                                {
                                                                    <div>@Html.RenderBlock(item)</div>
                                                                }
                                                            }
                                                            <br />
                                                            <div class="cart-item-description">
                                                                @if (items?.PersonaliseValuesDetail?.Count > 0)
                                                                {
                                                                    foreach (var item in items?.PersonaliseValuesDetail)
                                                                    {
                                                                        if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                                        {
                                                                            <p>
                                                                                @item.PersonalizeName: @item.PersonalizeValue
                                                                            </p>
                                                                        }

                                                                    }
                                                                }
                                                            </div>

                                                        </td>
                                                        <td class="table-td">
                                                            <div>@Html.RenderBlock(@items.Description)</div>
                                                        </td>
                                                        <td class="table-td">
                                                            <div>@items.OrderLineItemState</div>
                                                        </td>
                                                        <td class="table-td">
                                                            <div>@Html.RenderBlock(items.TrackingNumber)</div>
                                                        </td>
                                                        <td class="table-td receipt-column-quantity">
                                                            @if ((items.Quantity) % 1 == 0)
                                                            {
                                                                @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                            }
                                                            else
                                                            {
                                                                var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                @orderedQuantity
                                                            }
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.Price, Model.CultureCode, items.UOM)
                                                        </td>
                                                        <td class="table-td receipt-column-total text-right">
                                                            <span class="pull-right">@Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CultureCode)</span>
                                                        </td>

                                                        <td class="table-td receipt-column-action">
                                                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                                            {
                                                                <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId" data-test-selector="linkReOrder">@WebStore_Resources.TextReoder</a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                    @Html.Partial("../User/_ReceiptCalculation", Model)
                                </div>

                                <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                                    @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                                    {
                                        <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                        <div class="table-responsive">
                                            <table class="table table-tr">
                                                <tr class="table-heading">
                                                    <th class="table-td receipt-column-item">Product SKU</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                    <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                                    <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                </tr>

                                                @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                                {
                                                    <tr>
                                                        @if (items?.GroupProducts?.Count > 0)
                                                        {
                                                            string mainProductName = items.ProductName;
                                                            foreach (var product in items.GroupProducts)
                                                            {
                                                                <td>
                                                                    @product.Sku
                                                                </td>
                                                                <td>
                                                                    <div class="">@Html.RenderBlock(mainProductName)</div>
                                                                    <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                                    <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                                </td>
                                                                <td>
                                                                    @items.OrderLineItemStatus
                                                                </td>
                                                                <td>
                                                                    @items.ReasonForReturn
                                                                </td>
                                                                <td>
                                                                    @items.TrackingNumber
                                                                </td>
                                                                <td class="table-td receipt-column-quantity">
                                                                    @if ((items.Quantity) % 1 == 0)
                                                                    {
                                                                        @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                    }
                                                                    else
                                                                    {
                                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                        @orderedQuantity
                                                                    }
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-total">
                                                                    @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                                {
                                                                    <span>@items.ConfigurableProductSKUs</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@items.SKU</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <span>@Html.RenderBlock(items.ProductName)</span>
                                                                <div class="cart-item-description">
                                                                    @if (items?.PersonaliseValuesList?.Count > 0)
                                                                    {
                                                                        <p>
                                                                            <img src="@imagePath" style="max-height:45px;max-width:45px;" alt="Alternate Text" />
                                                                        </p>
                                                                    }
                                                                </div>
                                                                @Html.RenderBlock(items.CartDescription)
                                                            </td>
                                                            <td>
                                                                <span>@items.OrderLineItemStatus</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.ReasonForReturn</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.TrackingNumber</span>
                                                            </td>
                                                            <td class="table-td receipt-column-quantity">
                                                                @if ((items.Quantity) % 1 == 0)
                                                                {
                                                                    @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                }
                                                                else
                                                                {
                                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                    @orderedQuantity
                                                                }
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-total">
                                                                @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    }
                                </div>

                                <div id="user-approver-comments-content" data-test-selector="divApproverComments">
                                    <div class="col-xs-12 nopadding spp-approver-comment">
                                        @if (Model?.QuoteApproverComments.Count > 0)
                                        {
                                            <h3 class="title" data-test-selector="hdgApproverComments">@WebStore_Resources.LabelApproverComments</h3>
                                            <div class="col-xs-12 nopadding thead">
                                                <div class="col-xs-3 nopadding spp-row">
                                                    <a data-test-selector="linkDate">@WebStore_Resources.TitleDate</a>
                                                </div>
                                                <div class="col-xs-3 nopadding spp-row">
                                                    <a data-test-selector="linkApproverName">@WebStore_Resources.TextApproverName</a>
                                                </div>
                                                <div class="col-xs-6 nopadding spp-row">
                                                    <a data-test-selector="linkComment">@WebStore_Resources.LabelComments</a>
                                                </div>

                                            </div>
                                            foreach (QuoteApprovalViewModel quoteApproverComments in Model?.QuoteApproverComments.AsEnumerable().Reverse())
                                            {
                                                <div class="col-xs-12 nopadding">
                                                    <div class="col-xs-3 nopadding spp-row">
                                                        <p data-test-selector="paraDateTime">@quoteApproverComments.CommentModifiedDateTime</p>
                                                    </div>
                                                    <div class="col-xs-3 nopadding spp-row">
                                                        <p data-test-selector="paraApproverName">@quoteApproverComments.ApproverUserName</p>
                                                    </div>
                                                    <div class="col-xs-6 nopadding spp-row">
                                                        <p data-test-selector="paraApproverComment"> @quoteApproverComments.Comments</p>
                                                    </div>

                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("portalId", portalId)
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
}

@* To DO - Need to move in checkout.ts *@
<script>
    $(document).ready(function () {
        $(window).scrollTop(0);
        if ("@isLoggedInUser" == "False" && (typeof ArtifiAPI != 'undefined')) {
                ArtifiAPI.prototype.UpdateUserId(localStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
            }
            if ("@address"=="") {
                window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
        }

        });
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $(document).ready(function () {
            // DataLayer creation of Purchase data and PUSH to GTM.
            GoogleAnalytics.prototype.SendEcommercePurchaseData(@Html.RenderBlock(Json.Encode(Model.GetEcommercePurchaseData())), '@PortalAgent.CurrentPortal.Name');
        });
    </script>
}
