﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetSearchDataViewModel

<style>
    .TempletSelectdropdown select {
        width: 120px;
        margin-top: -5px;
    }
</style>

<div id="layout-category" class="main-wrapper TempletSelect">
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                @if (Model?.FacetFilters?.Count > 0)
                {
                    <div class="list-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_AddedList"><span>Filters</span></h4>
                            </div>
                            <div id="collapseOne_AddedList" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="filter-list">
                                        @foreach (var facetValue in Model.FacetFilters)
                                        {
                                            <h4>@HttpUtility.HtmlDecode(Model.Facets.Find(x => x.AttributeValues.Any(y => y.AttributeCode == facetValue.Item1))?.AttributeName)</h4>
                                            foreach (var facetValueItem in facetValue.Item2)
                                            {
                                                <li class="filter-item" onclick="Search.prototype.RemoveFacet('@facetValueItem.Value')">
                                                    <label>@HttpUtility.HtmlDecode(facetValueItem.Key)</label><i class="zf-close"></i>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model?.Facets?.Count > 0)
                {
                    int count = 0;
                    foreach (var item in Model.Facets)
                    {
                        <div class="list-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title panel-title-edit accordion-toggle settoggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@count" title="@item.AttributeName"><span data-test-selector="lblMoreCategoriesFacets">@item.AttributeName</span></h4>
                                </div>
                                <div id="collapseOne_@count" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="filter-list">
                                            @foreach (var facetValue in item.AttributeValues)
                                            {
                                                bool? isChecked = Model.FacetFilters?.Any(facetFilter => facetFilter.Item1 == facetValue.AttributeCode && facetFilter.Item2.Any(x => x.Key == facetValue.AttributeValue));
                                                if (!string.IsNullOrEmpty(facetValue.AttributeValue))
                                                {
                                                    string data = $"{item.AttributeName}{facetValue.AttributeValue}";
                                                    <li class="styled-input">
                                                        <input id="@data" type="checkbox" onchange="Search.prototype.GetFilterResult('@facetValue.RefineByUrl',this)" class="FacetFilter" @(isChecked.GetValueOrDefault() ? "checked=checked" : "") />
                                                        <label for="@data" data-test-selector="lblFacetValue" title="@Html.RenderBlock(facetValue.Label)">@Html.RenderBlock(facetValue.Label)</label>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                }

            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container search-page">
                @if (Model?.Products?.Count > 0)
                {
                <div class="col-xs-12 product-grid nopadding">
                    <div class="col-xs-12 nopadding products-modes-setting">
                        <div class="col-xs-6 col-sm-6 col-lg-3 nopadding">
                            <p class="search-result" data-test-selector="paraSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-lg-6 TempletSelectdropdown nopadding hidden-sm hidden-xs hidden-md visible-lg">
                            <div id="layout-paging">
                                <div class="search-paging col-lg-12 col-xs-12 col-sm-12 Sorting nopadding margin-top">
                                    <div class="col-xs-7 col-lg-8 col-md-6 nopadding text-right item-per-page" style="display: inline-flex;">
                                        <span style="margin-right: 8px;width: 100%;">@WebStore_Resources.textItemforpage</span>
                                        @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right", @title = "Pagging" }))
                                    </div>

                                    <div class="col-xs-5 col-md-6 col-lg-4 nopadding search-pagination PageNavArrow">
                                        <ul>
                                            <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Previous"><i class='zf-arrow-left-big'></i><span class="hidden">previous</span></a></li>
                                            <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Next"><i class='zf-arrow-right-big'></i><span class="hidden">next</span></a></li>
                                        </ul>
                                        @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-3 nopadding filter-right">
                            <div class="view-mode pull-right">
                                <span data-test-selector="spanViewModeLabel" class="hidden">@WebStore_Resources.TitleFilterBy &nbsp;</span>
                                <div id="pagingsearching">
                                    @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="col-xs-12 product-view nopadding">
                        <ul id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                            @{
                                if (!Equals(Model, null))
                                {
                                    foreach (var p in Model.Products)
                                    {
                                        <li>
                                            <article class="product-item">
                                                @Html.Partial("../Product/_ProductTile", p)
                                            </article>
                                        </li>
                                    }
                                }
                            }
                        </ul>

                        <div id="loading" class="loader" style="display:none;"></div>
                    </div>
					<div class="col-lg-12 col-md-12 col-xs-12 footer-pagination-class" id="pagingsearching">
                        <div class="search-paging col-lg-12 col-xs-12 col-sm-12 Sorting nopadding margin-top TempletSelectdropdown">
                            <div class="col-xs-7 col-lg-8 col-md-6 nopadding text-right item-per-page" style="display: inline-flex;">
                                <span style="margin-right: 8px;width: 100%;">@WebStore_Resources.textItemforpage</span>
                                @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right", @title = "Pagging" }))
                            </div>

                            <div class="col-xs-5 col-md-6 col-lg-4 nopadding search-pagination PageNavArrow">
                                <ul>
                                    <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Previous"><i class='zf-arrow-left-big'></i><span class="hidden">previous</span></a></li>
                                    <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" title="Next"><i class='zf-arrow-right-big'></i><span class="hidden">next</span></a></li>
                                </ul>
                                @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>   