﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model DomainListViewModel
@{
    ViewBag.Title = Admin_Resources.LabelURL + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.LabelDomains</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon margin-bottom-8" data-test-selector="linkRefresh" name="FullPageCache" onclick="GlobalConfiguration.prototype.UpdateFullPageCacheParameters()"><i class='z-refresh'></i>Refresh</button>
                <button type="button" class="btn-text-icon margin-bottom-8" data-test-selector="linkBack" onclick="ZnodeBase.prototype.CancelUpload('domainList')"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>

        <!--Main Container-->
        <section class="col-sm-12 page-container">
            <div id="urlId" style="display:none;">
                <div class="col-sm-12 nopadding margin-bottom" id="body">
                    <div class="messageBoxContainer error-msg text-center" data-test-selector="divMessageBoxContainer" id="messageBoxContainerId">@Admin_Resources.ErrorSelectRecord</div>
                </div>
            </div>

            @using (Ajax.BeginForm("GetWebstoreDomains", "GeneralSetting", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }

            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>

