﻿@using Znode.Engine.WebStore.ViewModels
@model CaseRequestViewModel
@{
    ViewBag.Title = "Meet Our Customer Service Team and How We Can Help - Ros Hommerson";
    ViewBag.description = "If you have a question about your order, one of our products or a return, the Ros Hommerson customer service team can help. Fill out the contact form to contact our team.";
    ViewBag.keywords = "Contact,If you have a question about your order, one of our products or a return, the Ros Hommerson customer service team can help. Fill out the contact form to contact our team.";
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="contain-pages margin-top-50">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblPageTitle">@WebStore_Resources.LinkTextContactus</h1>
            </div>

            <div class="col-xs-12 margin-top nopadding">
                <div class="col-xs-12 col-sm-4 nopadding margin-bottom">
                    <div id="AddressSection">
                        @Html.RenderMessage("RosHommersonContactAddressSection")
                    </div>
                    <br />
                    <div id="UsefullLinks" class="margin-top">                       
                        @Html.RenderMessage("RosHommersonContactUsefulLinkSection")
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 nopadding">
                    @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="margin-bottom hidden" data-test-selector="lblContactUsMessage">@WebStore_Resources.HeaderTextContactUs</p>

                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required", @data_test_selector = "lblFirstName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @data_test_selector = "txtFirstName", @title= WebStore_Resources.LabelFirstName })
                                        <span id="valFirstNameErr" class="field-validation-error" data-test-selector="lblValFirstNameErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelLastName, new { @class = "required", @data_test_selector = "lblLastName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @data_test_selector = "txtLastName", @title = WebStore_Resources.LabelLastName })
                                        <span id="valLastNameErr" class="field-validation-error" data-test-selector="lblValLastNameErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.ColumnCompanyName, new { @data_test_selector = "lblCompanyName" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @data_test_selector = "txtCompanyName", @title = WebStore_Resources.ColumnCompanyName })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required", @data_test_selector = "lblEmail" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @data_test_selector = "txtEmail", @title = WebStore_Resources.LabelEmailAddress })
                                        <span id="valEmailErr" class="field-validation-error" data-test-selector="lblValEmailErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-ms-12 nopadding">
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required", @data_test_selector = "lblPhoneNo" })
                                    </div>
                                    <div class="col-sm-12 nopadding">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum", @data_test_selector = "txtPhoneNo", @title = WebStore_Resources.LabelPhoneNumber })
                                        <span id="valPhoneNumErr" class="field-validation-error" data-test-selector="lblValPhoneNoErrMsg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 mobil-nopadding">

                            </div>
                        </div>

                        <div class="col-xs-12 col-ms-12 mobil-nopadding">
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.LabelFor(x => x.Description, new { @class = "required", @data_test_selector = "lblDescription" })
                                </div>
                                <div class="col-sm-12 nopadding">
                                    @Html.TextAreaFor(model => model.Description, new { @id = "valComment", @data_test_selector = "txtDescription",@style = "min-height: 200px;", @title = "Message" })
                                    <span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-ms-12 mobil-nopadding">
                            <div id="div-captcha">
                                @Html.ZnodeCaptcha()
                            </div>
                            <div class="form-group margin-top">
                                <div class="pull-right">
                                    <button type="submit" class="btn-text btn-bg-primary" id="contact-us" data-test-selector="btnSubmit" title="@WebStore_Resources.ButtonSubmit">@WebStore_Resources.ButtonSubmit</button>
                                    <a href="/" class="btn-text btn-bg-border width-auto-btn" data-test-selector="btnCancel" title="@WebStore_Resources.ButtonCancel">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        </div>


                        
                        if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                            </div>
                        }
                        else if (Model?.HasError ?? false)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#frmCreateCaseRequest").submit(function (event) {
        var captcha = $("#CaptchaInputText").val();
        if (typeof captcha != undefined && captcha != null && captcha != "") {
            $("#contact-us").prop("disabled", true).addClass("disabled");
        }
        $("#contact-captcha").html("");
    });
</script>